.footer {
  background-color: var(--background-dark);
  height: 120px;
  width: 100%;
  border-top: 3px solid var(--secondary-color);
  display: flex;
  justify-content: center;
}

.credits {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 50vw;
}

.credits h4 {
  color: white;
  align-self: center;
  font-size: 20px;
}

.footer .logo {
  will-change: filter;
  transition: filter 300ms;
  height: 48px;
  width: auto;
  padding: 0 1rem 0 1rem;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.technologies {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.hosting {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.technologies ul {
  display: flex;
  align-items: center;
}

.technologies li {
  align-items: center;
  justify-content: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .technologies li:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 0.5em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 0.5em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .technologies li:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 800px) {
  .footer .logo {
    height: 40px;
    width: auto;
  }
  .footer h4 {
    font-size: 18px;
    padding-bottom: 0.5rem;
  }
  .credits {
    width: 100%;
    padding-bottom: 2rem;
  }
  .technologies {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hosting {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
